<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="filePath" value="${basedir}/logs/${shortdate}.log"/>
  <variable name="shortExceptionLayout" value="${newline}EXCEPTION\:${newline}${exception:format=type,message,method,data:maxInnerExceptionLevel=1:innerFormat=shorttype,method}${newline}"/>
  <extensions>
    <add assembly="MTChat.Server"/>
  </extensions>
  
  <targets async="true">
    <target xsi:type="File" name="file" fileName="${filePath}" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message} ${onexception:${shortExceptionLayout}"/>
    <target xsi:type="NLogViewer" name="ctrl" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}${newline}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="ctrl" />
  </rules>
</nlog>
